body {
    margin: 0;
    height: 100dvh;
    background: linear-gradient( #ff9a3c, #d83f87);
    text-align: center;     
    padding-top: 20vh;      
}

h1 {
    font-size: 40px;
    color: #ffe4c4;
    text-shadow: 0 0 12px rgba(255, 228, 196, 0.6);
    height: 60px;   
    margin-bottom: 25px;
}
